td{

	padding:10px;
	font-size:20px;
	color:green;
	
}
.btn{
	width:120px;
	font-size:18px;
	padding:10px;
	color:white;
	background-color:red;
	position:relative;
	left:110px;
	top:20px;
}
.btn:hover{
	background-color:green;
	color:white;
}

input{
	border-radius:5px;
}