			
			/* navigation bar starting  */
			
			.fa-car{
				width:100%;
				top:80px;
				right:-40px;
				}
			.websitename{
				top:60px;
				width:100%;
				font-family: fantasy;
				color:red;
				position:relative;
				top:-70px;
				padding-left:30px;
				}
			.title-college{
				font-size:48px;
				position:relative;
				top:-70px;
				padding-left:85px;
				}
			#navul {
				list-style-type: none;
				}
				
			#navlist {
				float: right;
				}
			#navlist #nava {
				display: block;
				color:white;
				text-decoration: none;
				font-family:verdana;
				font-size:18px;
				padding-right:45px;
				padding-top:30px;
				position:relative;
				bottom:12px;
				}
			.navigationbar{
				background-color:#ea7e31;
				position:relative;
				bottom:10px;
				height:60px;
			}
					
				/* dropdown content starting code */
				
				
			/* .dropdown-content a { */
				/* color:black; */
				/* padding: 12px 16px; */
				/* padding-left:35px; */
				/* text-decoration: none; */
				/* display: block; */
				/* border-radius:25px; */
				/* font-family:verdana; */
				/* font-size:18px; */
				/* } */
			/* .dropdown-content { */
				/* display: none; */
				/* position: absolute; */
				/* left:740px; */
				/* top:55px; */
				/* border-radius:25px; */
				/* background-color:#c6d8ef; */
				/* max-width: 300px; */
				/* min-width:200px; */
				/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
				/* z-index: 999; */
				/* } */
			/* .dropdown-content a:hover { */
				/* background-color:#3393cc; */
				/* } */

			/* .dropdown:hover .dropdown-content { */
				/* display: block; */
				/* } */

			/* .dropdown:hover .dropbtn { */
				/* background-color:red; */
				/* } */
				
				/* dropdown content ending code */
				
				/* navigation bar ending code */

				
				/* menubar starting code */
			
			
			/* .menu-bar{ */
				/* width:1349px; */
				/* position:relative; */
				/* top:-80px; */
				/* height:80px; */
				/* background-color:#f49842; */
				/* } */
			/* .menu-bar-li .menu-bar-a{ */
				/* color:red; */
				/* text-transform:uppercase; */
				/* text-decoration:none; */
				/* color:white; */
				/* } */
			/* .menu-bar-li{ */
				/* display:inline-block; */
				/* } */
			/* #menubar-li{ */
				/* padding-left:20px; */
				/* padding-right:25px; */
				/* padding-top:7px; */
				/* } */
			/* .menu-bar-li::first-letter{ */
				/* font-size:150%; */
				/* } */
				
			/* menubar ending code */
			
			
			/* navigation bar image startinging code */
				
			.imm{
				position:relative;
				left:180px;
			}
			.name{
				position:relative;
				left:150px;
				padding:10px;
			}
			 .img-nav{	
			 background-color:#1c65db;
			 }
			/* navigation bar image ending code */
			
			
			/* contact details starting code */
		
			
			.main-div{
				float:left;
				}
			.details{
				width:550px;
				height:800px;
				}
			
			.heading{
				text-transform:capitalize;
				color:#ef7015;
				padding-left:20px;
				font-family:verdana;
				font-weight:bold;
				font-size:25px;
				}
			.one{
				padding-top:40px;
				font-size:40px;
				}
			.one::first-letter{
				font-size:200%;
				}
			.adrs{
				font-size:18px;
				}
			.icon{
				position:relative;
				top:24px;
				padding-left:20px;
				font-size:25px;
				
				}
			.paragraph{
				padding-left:70px;
				font-size:20px;
				}
			/* contact-details ending code */
			
			/* formtag starting code */
			.message{
				width:1349px;
				height:800px;
				padding-left:400px;
				padding-top:150px;
				}
			
			.paragraph1{
				padding-left:20px;
				padding-top:5px;
				font-size:20px;
				}
			.formtag{
				width:280px;
				height:60px;
				}
			input::placeholder {
				font-size:20px;
				color: red;
				padding-left:15px;
				opacity:0.7;
				}
			input{
				font-size:25px;
				
				}
			textarea{
				font-size:25px;
				}
			.tagone{
				position:relative;
				left:20px;
				top:20px;
				}
			.tagtwo{
				position:relative;
				left:330px;
				bottom:40px;
				}
			.tagthree{
				position:relative;
				left:640;
				bottom:100px;
				}
			.tagfour{
				position:relative;
				left:20px;
				bottom:50px;
				width:900px;
				height:200px;
				}
			textarea::placeholder {
				font-size:40px;
				color: red;
				padding-top:20px;
				padding-left:15px;
				opacity:0.5;
				}
			.phone-error{ 
				position:relative;
				bottom:90px;
				left:640px;
				width:300px;
				}
			
			/* formtag starting code */
				
			/* buttons starting code */
			.subbutton{
				position:relative;
				left:20px;
				bottom:20px;
				padding:10px;
				width:150px;
				height:70px;
				color:white;
				font-size:28px;
				text-transform:uppercase;
				background-color:#f49842;
				border:0px;
				}
			.subbutton:hover{
				background-color:#cc6200;
				}
			/* buttons ending code */
			
			#message{
				display:none;
				}	
				
				
			/* footer starting code */
				
				
			.google-map{
				width:799px;
				height:650px;
				float:left;
				}
			#map{
				height: 650px;
				width: 100%;
				}
				
			.contact-details{
				width:550px;
				height:650px;
				float:left;
				background-color:#f49842;
				}
				
			.contact{
				padding-top:10px;
				padding-left:120px;
				font-family:verdana;
				color:white;
				font-weight:bold;
				}
			.logo{
				top:44px;
				padding-left:65px;
				color:white;
				}
			.c-h1{
				padding-top:50px;
				padding-left:30px;
				}
			.c-p{
				padding-left:20px;
				padding-top:50px;
				}
				
			.socil-media{
				padding-left:25px;
				padding-top:30px;
				font-size:30px;
				font-weight:bold;
				opacity:0.8;
				}
			.fa-twitter{
				color:#00aced;
				}
			.fa-facebook{
				color :#3B5998;
				}
			.fa-google-plus{
				color:#FF3424;
				}
			.one1{
				padding-left:60px;	
				}
				
				/* footer ending code */
